body {
  background: #fff;
}

.logogif {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.cuadrado {
  background-color: #fff;
}

.carousel {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 29.8%;
}

ul {
  list-style-type: none;
}

.banner {
  height: 300px;
  overflow: hidden;
  margin-top: 20px;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.social-media a {
  font-size: 30px;
  color: black;
  padding: 20px;
  background-color: #fff;
  width: 52px;
  height: 52px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
